body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text */
}
h2 {
    margin-top: 0;
}
.details {
    margin-bottom: 20px;
    text-align: left; /* Left-align text within the details section */
}
details label {
    font-weight: bold;
    display: inline-block; /* Make labels inline-block to allow them to be on the same line */
    width: 150px; /* Adjust as needed */
    text-align: right; /* Right-align labels */
    margin-right: 20px; /* Add some space between labels and values */
}
.details p {
    margin: 5px 0;
    text-align: left; /* Left-align text */
    display: inline-block; /* Make values inline-block to allow them to be on the same line */
    width: calc(100% - 170px); /* Adjust as needed */
}
.edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}