<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1>Expire Date Reminder System</h1>
    </header>
    <div class="container">
      <%- include('navbar') %>
      <div>
        <a href="/batches/create_batch" class="section-link">
          Register New Item
        </a>
        <a href="/reminders" class="section-link"> Check Expiration Dates </a>
      </div>
    </div>
  </body>
</html>
