<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar') %>
    <table>
      <thead>
        <th>Product</th>
        <th>quantity</th>
        <th>store</th>
        <th>expire date</th>
      </thead>
      <tbody>
        <tr>
          <td>Peanut Butter</td>
          <td>20</td>
          <td>Tegeta</td>
          <td>new Date("July, 3 2024")</td>
        </tr>
        <tr>
          <td>Blue band</td>
          <td>10</td>
          <td>Tegeta</td>
          <td>new Date("October, 12 2024")</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
